<div class="container-fluid fixed-top bg-white shadow-sm py-4 border-bottom">
    <div class="container-sm d-flex flex-row justify-content-between align-items-center">
        <!-- Logo -->
        <i class="fa-brands fa-resolving fs-1"></i>

        <!-- Navigation links -->
        <nav class="d-none d-md-flex">
            <ul class="navbar-nav flex-row gap-4">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/projects">Projetos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/experiences">Experiências</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/education">Educação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/skills">Habilidades</a>
                </li>

            </ul>
        </nav>

        <!-- Menu mobile -->
        <app-menu class="d-md-none"></app-menu>
    </div>

</div>