<div class="container-fluid fixed-top bg-white shadow-sm py-4 border-bottom">

    <div class="container-sm d-flex flex-row justify-content-between align-items-center">

        <!-- Logo -->
        <i class="fa-brands fa-resolving fs-1 pointer" routerLink="/home"></i>

        <!-- Navegação Desktop -->
        <nav>
            <ul class="d-none d-lg-flex flex-row gap-4 list-unstyled m-0">
                <li routerLink="/home" class="pointer">Home</li>
                <li routerLink="/projects" class="pointer">Projetos</li>
                <li routerLink="/experiences" class="pointer">Experiências</li>
                <li routerLink="/education" class="pointer">Educação</li>
                <li routerLink="/skills" class="pointer">Habilidades</li>
                <li routerLink="/contact" class="pointer">Contato</li>
            </ul>
        </nav>

        <!-- Menu mobile -->
        <button class="btn p-0 border-0 d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu" aria-controls="mobileMenu" aria-label="Abrir menu">

            <i class="bi bi-list fs-1"></i>

        </button>

    </div>

</div>


<!-- Menu lateral mobile -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="mobileMenu" aria-labelledby="mobileMenuLabel">

    <!-- Cabeçalho -->
    <div class="offcanvas-header border-bottom" style="padding: 2rem 1rem ;">

        <h5 class="offcanvas-title" id="mobileMenuLabel">
            Menu
        </h5>

        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Fechar">
        </button>

    </div>


    <!-- Conteúdo -->
    <div class="offcanvas-body">

        <nav>
            <ul class="list-unstyled d-flex flex-column gap-4">

                <li>
                    <a href="#" class="text-decoration-none text-dark">
                        Home
                    </a>
                </li>

                <li>
                    <a href="#" class="text-decoration-none text-dark">
                        Projetos
                    </a>
                </li>

                <li>
                    <a href="#" class="text-decoration-none text-dark">
                        Experiências
                    </a>
                </li>

                <li>
                    <a href="#" class="text-decoration-none text-dark">
                        Educação
                    </a>
                </li>

                <li>
                    <a href="#" class="text-decoration-none text-dark">
                        Habilidades
                    </a>
                </li>

                <li>
                    <a href="#" class="text-decoration-none text-dark">
                        Contato
                    </a>
                </li>

            </ul>
        </nav>

    </div>

</div>