<div class="container py-5 border-top">
    <div class="row">
        <!-- About -->
        <div class="col-12 col-md-3  mb-5">
            <strong class="d-block mb-3">Ronaldo Sabino</strong>

            <small class="d-block mb-3">Analista e Desenvolvedor de Sistemas, especializado em Angular, focado em criar interfaces modernas, responsivas e com excelente experiência do usuário. Apaixonado por tecnologia e soluções que geram impacto real.</small>

            <div class="d-flex flex-row gap-3">
                <i class="bi bi-linkedin" style="color: #0077b5;"></i>

                <i class="bi bi-github" style="color: #333;"></i>

                <i class="bi bi-whatsapp" style="color: #25d366;"></i>
            </div>
        </div>

        <!-- Navegation -->
        <div class="col-6 col-md-3">
            <strong class="d-block mb-3">Navegação</strong>
            <ul class="list-unstyled">
                <li><a href="#home">Home</a></li>
                <li><a href="#projects">Projetos</a></li>
                <li><a href="#skills">Habilidades</a></li>
                <li><a href="#experience">Experiência</a></li>
                <li><a href="#education">Educação</a></li>
                <li><a href="#contact">Contato</a></li>
            </ul>
        </div>

        <!-- Technologies -->
        <div class="col-6 col-md-3">
            <strong class="d-block mb-3">Tecnologias</strong>
            <ul class="list-unstyled">
                <li><i class="fa-brands fa-angular text-center" style="color: #dd0031; width: 16px; height: 16px;"></i> Angular</li>
                <li><i class="bi bi-typescript me-2" style="color: #2b74d8;"></i> TypeScript</li>
                <li><i class="fa-brands fa-html5 me-2 text-center" style="color: #e34c26; width: 16px; height: 16px;"></i> HTML</li>
                <li><i class="bi bi-css me-2" style="color: #563d7c;"></i> CSS</li>
                <li><i class="fa-brands fa-square-js me-2 text-center" style="color: #f1e05a; width: 16px; height: 16px;"></i> JavaScript</li>
                <li><i class="bi bi-bootstrap-fill me-2" style="color: #563d7c;"></i> Bootstrap</li>
                <li><i class="bi bi-git me-2" style="color: #F05133;"></i> Git</li>
            </ul>
        </div>

        <!-- Contact -->
        <div class="col-12 col-md-3">
            <strong class="d-block mb-3">Contato</strong>

            <ul class="list-unstyled mb-3">
                <li> <i class="bi bi-phone me-2"></i> <span>(81) 99447-9584</span> </li>
                <li> <i class="bi bi-envelope-at me-2"></i> <span>filiperonaldo1@gmail.com</span> </li>
                <li> <i class="bi bi-geo-alt me-2"></i> <span>Recife • Brasil</span> </li>
            </ul>

            <a href="https://wa.me/5581994479584?text=Olá%20Ronaldo!%20Vi%20seu%20portfólio%20e%20gostaria%20de%20conversar%20sobre%20uma%20oportunidade." target="_blank">
                <button class="btn btn-primary">
                    Vamos conversar! <i class="bi bi-rocket-takeoff"></i>
                </button>
            </a>
        </div>

        <!-- Line -->
        <div class="px-3 my-5">
            <hr />
        </div>

        <!-- Copyright -->
        <p class="text-center m-0">&copy; 2026 Ronaldo Sabino. Todos os direitos reservados.</p>
    </div>
</div>