<div class="container py-5 border-top">
    <div class="row">
        <!-- About -->
        <div class="col-12 col-lg-3  mb-5 mb-lg-0">
            <strong class="d-block mb-3">Ronaldo Sabino</strong>

            <div class="d-flex flex-column gap-1 mb-3">
                <small class="d-block">Analista e Desenvolvedor de Sistemas com 3 anos de experiência no desenvolvimento de aplicações web.</small>
                <small class="d-block">Atuo na modernização de sistemas legados, e desenvolvimento de interfaces responsivas focadas em desempenho, escalabilidade e experiência do usuário.</small>
            </div>

            <div class="d-flex flex-row gap-3">
                <a href="https://www.linkedin.com/in/ronaldo-sabino/" target="_blank">
                    <i class="bi bi-linkedin"></i>
                </a>

                <a href="https://github.com/ronaldosabino" target="_blank">
                    <i class="bi bi-github"></i>
                </a>

                <a href="https://wa.me/5581994479584?text=Olá%20Ronaldo!%20Vi%20seu%20portfólio%20e%20gostaria%20de%20conversar%20sobre%20uma%20oportunidade." target="_blank">
                    <i class="bi bi-whatsapp"></i>
                </a>
            </div>
        </div>

        <!-- Navegation -->
        <div class="col-6 col-lg-3">
            <strong class="d-block mb-3">Navegação</strong>
            <ul class="list-unstyled d-flex flex-column gap-1">
                <li class="pointer" routerLink="/home">Home</li>
                <li class="pointer" routerLink="/about">Sobre</li>
                <li class="pointer" routerLink="/projects">Projetos</li>
                <li class="pointer" routerLink="/skills">Habilidades</li>
                <li class="pointer" routerLink="/experiences">Experiências</li>
                <li class="pointer" routerLink="/education">Educação</li>
                <li class="pointer" routerLink="/contact">Contato</li>
            </ul>
        </div>

        <!-- Technologies -->
        <div class="col-6 col-lg-3">
            <strong class="d-block mb-3">Tecnologias</strong>
            <ul class="list-unstyled">
                <li><i class="fa-brands fa-angular me-2 text-center"></i> Angular</li>
                <li><i class="bi bi-typescript me-2"></i> TypeScript</li>
                <li><i class="fa-brands fa-html5 me-2 text-center"></i> HTML</li>
                <li><i class="bi bi-css me-2"></i> CSS</li>
                <li><i class="fa-brands fa-square-js me-2 text-center"></i> JavaScript</li>
                <li><i class="bi bi-bootstrap-fill me-2"></i> Bootstrap</li>
                <li><i class="bi bi-git me-2"></i> Git</li>
            </ul>
        </div>

        <!-- Contact -->
        <div class="col-12 col-lg-3">
            <strong class="d-block mb-3">Contato</strong>

            <ul class="list-unstyled mb-3">
                <li> <i class="bi bi-phone me-2"></i> <span>(81) 99447-9584</span> </li>
                <li> <i class="bi bi-envelope-at me-2"></i> <span>filiperonaldo1@gmail.com</span> </li>
                <li> <i class="bi bi-geo-alt me-2"></i> <span>Recife • Brasil</span> </li>
            </ul>

            <a href="https://wa.me/5581994479584?text=Olá%20Ronaldo!%20Vi%20seu%20portfólio%20e%20gostaria%20de%20conversar%20sobre%20uma%20oportunidade." target="_blank">
                <button class="btn btn-primary mt-4 d-flex align-items-center">
                    Vamos conversar! <i class="bi bi-rocket-takeoff ms-2"></i>
                </button>
            </a>
        </div>

        <!-- Line -->
        <div class="px-3 my-5">
            <hr />
        </div>

        <!-- Copyright -->
        <p class="text-center m-0">&copy; 2026 Ronaldo Sabino. Todos os direitos reservados.</p>
    </div>
</div>