.bi-typescript {
  color: #2b74d8;
}
.bi-css {
  color: #563d7c;
}
.bi-bootstrap-fill {
  color: #563d7c;
}
.bi-git {
  color: #f05133;
}
.bi-linkedin {
  color: #0077b5;
}
.bi-github {
  color: #333;
}
.bi-whatsapp {
  color: #25d366;
}

.fa-angular {
  color: #dd0031;
  width: 16px;
  height: 16px;
}
.fa-html5 {
  color: #e34c26;
  width: 16px;
  height: 16px;
}
.fa-square-js {
  color: #f1e05a;
  width: 16px;
  height: 16px;
}
